html, body {
  margin: 2px;
}

/* css for first row */
.first-row {
  height: 500px;
  display:flex;
  margin-bottom: 2px;
}

/* css for intro container */
.intro-container {
  width:75%;
  background-color: lightgray;
  margin-right: 2px;
  padding: 10px;
}

.personal-photo {
  width: 200px;
}


/* Css for links container on right side of first row */
.links-container {
  width:25%;
  margin-left: 2px;
  background-color: lightgray;
  text-align: center;
}

.link-container {
  background-color: white;
  margin: 0 auto;
  width: 75%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-bottom: 5px;
}




/* Container for the second row of our website */

.second-row {
  margin-top: 2px;
  height: 500px;
  display: flex;
}


.about-me-container {
  background-color: lightgray;
  padding: 10px;
  width: 60%;
  margin-right:2px;
}

.experience-container {
  background-color: lightgray;
  width: 40%;
  margin-left:2px;
  padding: 10px;
}



